@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.game-title > h2 {
  font-family: "Archivo Black";
}

.creator-container > h3 {
  font-family: "Nunito";
}

#searchBar {
  font-family: "Roboto";
}

.message > p {
  font-family: "Nunito";
}

.steam > p {
  font-family: "Nunito";
}

.game-type > h2 {
  font-family: "Nunito";
}

.game-description > p {
  font-family: "Roboto";
}

.copyright {
  font-family: "Roboto";
}

.close-btn > label {
  font-family: "Nunito";
}

#gameBarMobile {
  font-family: "Roboto";
}

.message-mobile > p {
  font-family: "Nunito";
}

.steam-mobile > a > p {
  font-family: "Roboto";
}

.close-modal-container > label {
  font-family: "Nunito";
}

ul > li {
  font-family: "Nunito";
}

.game-content > h3 {
  font-family: "Nunito";
}

.gameplay-content > h3 {
  font-family: "Nunito";
}

.game-content > p {
  font-family: "Roboto";
}

.gameplay-content > p {
  font-family: "Roboto";
}

.gameplay-list > h3 {
  font-family: "Nunito";
}

.gameplay-list > ul > li {
  font-family: "Roboto";
}

.upper-award-content > h3,
.award-list > h3,
.game-legacy > h3 {
  font-family: "Nunito";
}

.award-list > ul > li {
  font-family: "Roboto";
}

.upper-award-content > p,
.game-legacy > p {
  font-family: "Roboto";
}

.mobileTabBtn {
  font-family: "Nunito";
}
