body {
  height: 100vh;
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(
    to top,
    #0a0a0a 0%,
    #2b0129 25%,
    #580a55 50%,
    #811c7eb7 75%,
    #7b437ae3 100%
  );
  height: 125px;
  backdrop-filter: blur(10px);
  box-shadow: 6px 6px 12px #0a0a0aa8;
  z-index: 9999;
}

.logo img {
  width: 135px;
  height: 110px;
}

.steam img {
  width: 55px;
  height: 55px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message > p {
  margin-left: 10rem;
  text-align: center;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  margin-left: 10rem;
}

.search-btn {
  padding: 0.65rem;
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  cursor: pointer;
  background: #fafafa;
  transition: all 0.3s ease-in;
}

.search-btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 10px #0000006b;
  filter: brightness(1.2);
}

.search-btn i {
  font-size: 20px;
}

#gameBar {
  font-size: 20px;
  font-weight: 500;
  padding: 0.65rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #0a0a0a;
  transition: all 0.3s ease;
}

#gameBar:focus {
  outline: none;
  border: 2px solid #3a84af;
}

#menuBtn {
  background: transparent;
  border: 2px solid #fafafa;
  padding: 0.5rem 0.65rem;
  border-radius: 50%;
  cursor: pointer;
}

#menuBtn > i {
  font-size: 28px;
  color: #fafafa;
}

.steam-link {
  color: #0a0a0a;
  text-decoration: none;
}

.steam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in;
}

.steam > p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  white-space: normal;
  color: #fafafa;
}

#steamBtn {
  background: none;
  border: none;
  cursor: pointer;
  height: 10px;
  transition: all 0.3s ease-in;
}

#steamBtn:hover {
  transform: scale(1.1);
  filter: invert(1);
}

#menuMobile {
  display: none;
}

.close-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.close-btn > label {
  font-weight: 600;
  text-transform: uppercase;
  color: #fafafa;
}

#closeBtn {
  margin: 1rem 0;
  background: transparent;
  color: #fafafa;
  border: none;
}

#closeBtn > i {
  font-size: 35px;
}

#gameBarMobile {
  padding: 0.6rem;
  border-radius: 12px;
  border: 2px solid #0a0a0a;
  font-size: 15px;
}

.search-btn-mobile {
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  padding: 0.55rem;
  transition: all 0.3s ease;
}

.search-btn-mobile:active {
  opacity: 0.6;
}

.search-btn-mobile > i {
  font-size: 18px;
}

.message-mobile > p {
  font-weight: 600;
}

.steam-mobile > a {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.steam-mobile > a > p {
  color: #fafafa;
  text-decoration: underline;
  font-size: 14px;
}

.steam-mobile > p {
  color: #fafafa;
  font-weight: 600;
  font-size: 14px;
}

#steamMobile {
  width: 45px;
  height: 45px;
}

main {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  background: url("../imgs/background-imgs/HollowKnight3.avif");
  min-height: 130vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    #0a0a0a 10%,
    #00000098 25%,
    #0a0a0a85 75%,
    #0a0a0a 100%
  );
}

.carrossel-container {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.game-info {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
  z-index: 1;
}

.game-logo-container {
  display: flex;
  align-items: center;
}

#gameLogo {
  width: 100%;
  height: 200px;
}

#gameCharacter {
  width: 100%;
  height: 230px;
}

.arrow-container {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 2rem;
  z-index: 100;
}

.arrowBtn {
  margin: 0 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.arrow {
  width: 85px;
  height: 85px;
}

.arrowBtn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.arrowBtn:active {
  opacity: 0.6;
}

.game-type {
  margin-left: 1rem;
  color: #fafafa;
  font-weight: 800;
  font-size: 20px;
}

.game-type > h2 {
  text-shadow: 3px 3px 1px #000000;
}

.game-description {
  margin-left: 1rem;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  width: 90%;
}

.show-more-container {
  margin: 1.5rem 0 0 1rem;
}

#showMoreBtn {
  position: relative;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid #fafafa;
  color: #fafafa;
  font-size: 20px;
  font-weight: 800;
  border-radius: 17px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

#showMoreBtn::after {
  position: absolute;
  content: "";
  inset: 0;
  background: #fafafa;
  left: 0;
  top: 0;
  width: 0;
  transition: all 0.3s ease-in;
  z-index: -1;
}

#showMoreBtn:hover {
  color: #0a0a0a;
  border: 2px solid #0a0a0a;
  transform: scale(1.05);
  filter: brightness(1.2);
  box-shadow: 5px 5px 12px #0a0a0a8e;
}

#showMoreBtn:hover::after {
  width: 100%;
}

#showMoreBtn:active {
  opacity: 0.6;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #0a0a0a 0%,
    #2b0129 25%,
    #580a55 50%,
    #811c7e 75%,
    #7b437a 100%
  );
  color: #fafafa;
  text-align: center;
}

.copyright {
  font-weight: 600;
  font-style: italic;
}

@media (min-width: 280px) and (max-width: 425px) {
  .search-bar {
    display: none;
  }
  .steam {
    display: none;
  }

  #menuMobile {
    padding: 0;
    background: linear-gradient(
      to bottom,
      #0a0a0acc 0%,
      #2b0129c5 25%,
      #580a55c5 50%,
      #811c7eb6 75%,
      #7b437ac4 100%
    );
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    backdrop-filter: blur(18px);
    transition: all 0.5s ease;
    z-index: 99999;
  }

  #menuMobile.active {
    width: 250px;
    padding: 0.6rem;
    box-shadow: 3px 3px 10px #0a0a0a9f;
    border: 2px solid #0a0a0a73;
  }

  #menuMobile > nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .carrossel-container {
    justify-content: center;
    align-items: center;
  }

  .game-info {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
  }

  .game-description,
  .game-type,
  .show-more-container {
    margin: 0;
  }
}

@media (min-width: 280px) and (max-width: 350px) {
  #gameLogo {
    width: 180px;
    height: 160px;
  }

  #gameCharacter {
    width: 100px;
    height: 150px;
  }
}

@media (min-width: 350px) and (max-width: 425px) {
  #gameLogo {
    width: 190px;
    height: 160px;
  }

  #gameCharacter {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 350px) and (max-width: 425px) {
  #gameLogo {
    width: 200px;
    height: 160px;
  }

  #gameCharacter {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .search-bar {
    margin-left: 0.5rem;
  }

  .message > p {
    margin-left: 0.5rem;
  }

  .steam > p {
    font-size: 16px;
  }

  #gameLogo {
    width: 230px;
    height: 160px;
  }

  #gameCharacter {
    width: 160px;
    height: 140px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  #gameLogo {
    width: 330px;
    height: 200px;
  }

  #gameCharacter {
    width: 200px;
    height: 180px;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .search-bar {
    margin-left: 3.5rem;
  }

  .message > p {
    margin-left: 3.5rem;
  }
}

@media (min-width: 425px) {
  #menuBtn {
    display: none;
  }
}
